*{
    font-family:微軟正黑體;
    padding: 0;
    margin: 0;
   
}
body{
    
    height:auto;
    width: 100%;
}
nav{
    display: grid;
    grid-template-columns: 30% 5% 5% 5% 10% 5% 5% 5% 30%;
    padding: 30px 5px;
    align-items: baseline;
    position: fixed;
    z-index: 1;
    background:white;
    width:100%;
    font-size: 15px;
    text-align: center;
    height:100px;
    letter-spacing: 3px;
    font-weight:800;
    

    a{
        text-decoration: none;
        color:black;     
    }
}

#banner{    
    background-color: #324651;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    > div{
        width: 100%;
        text-align: center;
    }
    
}

#brand{
    width: 40%;
    margin: 40px auto  ;

    .slick-slide {
        width: 300px;
    }   
    
}

#Services{
    width: 100%;
    text-align: center;
    height: 100vh;
}

#server{
    font-size: 100px;
    color:#2c4755;
}

#p1{
    width: 50%;
    margin: auto;
}

#our{
    margin-top: 250px; 
}

@mixin section-box {
    overflow: hidden;
    display: grid;
   grid-template-columns: repeat(2, 1fr);

   img{
       width: 60%;
       padding-top: 100px;
       padding-left: 150px;
   }
   div {
    padding-top: 100px;
    color:#ffe600;
    font-size: 60px;
    p {
        padding: 50px 0;
        color: white;
        font-size: 20px;
        }
    }
}
#development{
    @include section-box();
    background-color: #324651;
    height: 80vh;

 }