*{
    font-family:微軟正黑體;
    
   
}
body{
    
    background-size: 300px;
    height:8502px;
    width: 1920px;
}
nav{
    display: grid;
    grid-template-columns: 30% 5% 5% 5% 10% 5% 5% 5% 30%;
    padding: 30px 5px;
    align-items: baseline;
    position: fixed;
    z-index: 1;
    background:white;
    width:100%;
    border-bottom:1px solid black;
    font-size: 15px;
    text-align: center;
    height:100px;
    letter-spacing: 3px;
    

    a{
        text-decoration: none;
        color:black;     
    }
}

#banner{    
    background-color: #324651;
    height: 951px;
    width: 100%;
    img{
        padding-top: 452px;
        padding-left: 764px;
    }
    .slick-slide {
        width: 300px;
    }
       
}
@mixin section-box {
    overflow: hidden;
    display: grid;
   grid-template-columns: repeat(2, 1fr);
}






































footer {
    text-align: center;
    margin-top: 100px;
    padding: 80px 0;
    color: black;
}